{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<!-- <section class="section-about py-5 about-background"> -->
<section class="section-about about-background container-fluid bg-light-blue min-vh-90 d-flex flex-column">
  
  <div class="container-fluid px-0 pt-3">
    <div class="row align-items-start justify-content-start">
      
      <!-- Ліва колонка з фото + сертифікат -->
       <div class="col-lg-3 col-md-5 text-center ps-0 mb-3 pt-4">
        <!--модальне вікно для розширення картинки -->
        <div>
          <h3 class="card-title text-center text-primary">
              {% trans "Чаюн Людмила" %}
          </h3>
          <a href="#" data-bs-toggle="modal" data-bs-target="#photoModal">
            <img src="{% static 'images/my-photo-about-me.jpg' %}" 
                alt="Чаюн Людмила" 
                class="img-fluid rounded shadow-lg photo mb-4"
                style="cursor: zoom-in;">
          </a>
        </div>

        <a href="#" data-bs-toggle="modal" data-bs-target="#certificateModal">
          <img src="{% static 'images/certificate.jpg' %}" 
              alt="{% trans 'Сертифікат з гіпнотерапії' %}" 
              class="img-fluid rounded shadow-lg photo mb-4"
              style="cursor: zoom-in;">
        </a>
      </div>

      <!-- Права колонка з історією -->
      <div class="col-lg-7 col-md-12 mx-auto px-3">
        <div class="card-custom p-4 mx-auto">
          <div class="card-body">
            <h2 class="card-title text-center text-primary mb-4">
              {% trans "Моя історія" %}
            </h2>
            <div class="fs-5">
              <p>{% blocktrans trimmed %}
              Мій шлях від першого захоплення психологією і до першого клієнта тривав 20років. Чому так довго? Мабуть, тому, що все має ставати на свої місця у свій чітко визначений час - по нашій готовності! 
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Мій особистий досвід допомоги собі та іншим триває вже 23 роки. Почалося все в 12, коли я хотіла краще зрозуміти себе і людей навколо. А саме: чому вони такі, чому так себе поводять, як з цим всім жити та справлятись? Саме тоді я захопилась психологією і почала її вивчати самостійно.
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Головною мотивацією була допомога самій собі. У своїх комплексах, страхах, невпевненості, нерозумінні чому саме так, а не інакше проходить моє життя! І я знайшла відповіді на всі свої питання та змогла впоратись з усім, що мене тоді турбувало!
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Згодом я зрозуміла, що саме цього завжди прагнула моя душа. Вона вела мене до мого покликання важким шляхом, з великою кількістю перепон. Цей шлях пройшов через невіру в себе, купу страхів, неприйняття з боку найближчих, через обмани та зради, зневіру до світу та людей, в цілому. Але й з цим усім я теж впоралася! І знаю як, а головне - що робити, коли опиняєшся в одному із таких станів.
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Сьогодні я вже маю глибокий особистий, а також практичний досвід роботи з психікою інших людей, адже добре розумію, через що вони проходять і що відчувають у важкі часи!
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Мій підхід - не для кожного. Він виключно для тих, хто не боїться йти вглиб себе, діставати свої потаємні "скелети", щоб звільнитись він них і змінити своє життя на краще! 
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Одразу попереджу - цей процес не буде простим! Він вимагатиме сміливості, довіри й чесності, насамперед перед собою! Але як тільки ця межа буде подолана - одразу з’являться й перші результати роботи.
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Робота над собою - це найскладніша робота в нашому житті, але для цього ми сюди й приходимо, щоб пізнавати себе, свої можливості та цей світ! 
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Парапсихологія - слово, яке багатьох лякає, але саме вона допомагає дивитись глибше, за межі логіки та свідомості.
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Знаю з власного досвіду, що класична психологія, з усіма можливими підходами, досить обмежена, тому і її не завжди  буває достатньо! Це, звісно, виключно моя думка і я не буду нікому нічого нав'язувати. Комусь і її  достатньо (все ж то краще, ніж зовсім собою не займатись). Вибір методу роботи залежить виключно від рівня розвитку самої особистості.
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Я володію методами гіпнозу, працюю з техніками регресії. Для тих , хто має певні побоювання, зауважу: то не про циганів) і не про навіювання чужих вірувань чи поглядів, та не про якусь небезпеку. Підхід завжди делікатний та адаптований до індивідуальних потреб. Це лише психологічний інструмент, цілком науково обгрунтований, як багато інших, зі своєю специфікою, показаннями та протипоказаннями, але абсолютно безпечний у супроводі спеціаліста.
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Я буду вас не лише слухати. Я ставитиму багато незручних запитань і говоритиму в очі неприємні речі, які стосуються тієї, самої болючої теми. І все це не для того, щоб принизити чи вказати на вади, а лише для того, щоб позбутись зайвого та зцілити не тільки психіку, але і душу. Адже це - саме головне завдання в моїй роботі.
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Мій підхід - для тих, хто хоче вийти за межі, обумовлені й нав'язані стандартами соціуму, інститутами і всім, що не зацікавлено в тому, щоб ви були свідомими, сміливими у своїх думках і діях, а найголовніше - вільними!
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Я можу провести вас у саму глибину, у найпотаємніші  місця підсвідомості, якраз туди, де криється першопричина, яка заклала той внутрішній біль, страх, невпевненість, неприйняття, які заважають жити щасливо тут і зараз! 
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Чи безпечно це все?! - Так! Ваша психіка дуже розумно влаштована і ніколи не пропустить туди, до чого ще не має внутрішньої готовності!
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Я лише провідник у подорожі вашою психікою, свідомістію та підсвідомістю. Разом, у безпечному просторі та під контролем вашого власного розуму, ми крок за кроком знайдемо той ключ, саму істину і перший травматичний досвід, що став причиною всіх наступних негативних подій. Допоможу там все це пропрацювати та поверну назад -  в цілковитій свідомості, при пам'яті та в гарному настрої!
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              А для тих, кого все ще лякає навіть слово «гіпноз», можу запропонувати інші, альтернативні методи розв'язання проблем: через легку медитативну практику чи просто в процесі розмови. В будь-якому разі, я підберу найкращий для вас метод роботи! Їх дуже багато і вистачить для кожного! Я – виключно за індивідуальний підхід в роботі, з урахуванням особистісних потреб, побажань та особливостей психіки кожного!
              {% endblocktrans %}</p>

              <p>{% blocktrans trimmed %}
              Тому всіх, хто хоче пізнати себе, пропрацювати травми, стати кращими, впевненішими та щасливішими, -  чекаю на наших зустрічах! Я з радістю буду вашим провідником у цій подорожі.
              {% endblocktrans %}</p>

           </div>
        </div>
        <!-- кнопка записатися на сесію -->
        <div class="text-center mt-4">
          <a href="https://t.me/your_username" class="btn btn-primary btn-lg px-4 py-2">
            {% trans "Записатися на сесію" %}
          </a>
        </div>

        </div>

      </div>
      
      

    </div>
  </div>

<!-- Модальне вікно для фото -->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-body p-0">
        <img src="{% static 'images/my-photo-about-me.jpg' %}" 
            alt="Чаюн Людмила" 
            class="img-fluid rounded shadow-lg"
            style="max-height: 90vh; width: auto;">
      </div>
    </div>
  </div>
</div>

<!-- Модальне вікно для сертифіката -->
<div class="modal fade" id="certificateModal" tabindex="-1" aria-labelledby="certificateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-body p-0">
        <img src="{% static 'images/certificate.jpg' %}" 
            alt="{% trans 'Сертифікат з гіпнотерапії' %}" 
            class="img-fluid rounded shadow-lg">
      </div>
    </div>
  </div>
</div>

</section>

{% endblock %}
