{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="section-faq faq-background container-fluid bg-light-blue min-vh-90 d-flex flex-column">
  
  <div class="container-fluid px-0 pb-5 mb-4">
    <div class="row align-items-start justify-content-start">
      <h2 class="text-center mb-5 mt-1 text-primary">
        {% trans "Часті запитання" %}
      </h2>
    </div>
  </div>

  <div class="container-fluid px-0">
    <div class="row align-items-start justify-content-center">
      <div class="col-lg-4 col-md-5 ps-0 mb-4">
        <div class="alert fs-5 custom-alert" role="alert">
          <strong>
            {% trans "Нагадування:" %}
          </strong><br>
          {% trans "🧠 Гіпноз не є панацеєю і не підходить всім. Існують люди, які не піддаються гіпнозу і він не може вирішити абсолютно всі проблеми." %}
        </div>

        <div class="accordion" id="faqAccordion">
          
          <div class="accordion-item mb-3 faq-card">
            <h2 class="accordion-header">
              <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q1">
                {% trans "❓ Що таке парапсихологія?" %}
              </button>
            </h2>
            <div id="q1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                {% blocktrans trimmed %}
                Парапсихологія — це наука, що досліджує паранормальні явища і надзвичайні психологічні здібності, та явища, які не можуть бути пояснені науковими методами дослідження. До таких відносять: екстрасенсорну сприйнятливість, яснобачення, яснознання, телепатія, психокінез, реінкарнація, тощо.
                {% endblocktrans %}
                <br><br>
                <p><strong>{% trans "Методи парапсихології:" %}</strong> 
                  <ul>
                    <li>{% trans "медитативні (через медитацію)" %}</li>
                    <li>{% trans "візуалізації (використання уяви для впливу на реальність, наприклад: уявне зцілення)" %}</li>
                    <li>{% trans "самоспостереження (внутрішнє спостереження за власними думками, почуттями, переживаннями)" %}</li>
                    <li>{% trans "якісний та кількісний аналіз (за допомогою глибокого психологічного аналізу)" %}</li>
                    <li>{% trans "аналіз продуктів діяльності ( через щоденники, листи, дослідження творчості, все, що може розкрити психологічні особливості)." %}</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 faq-card">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q2">
                {% trans "🌀 Що таке гіпноз?" %}
              </button>
            </h2>
            <div id="q2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
              <div class="accordion-body">                
                {% trans "Гіпноз - це особливий, трансовий стан зміненої свідомості, близький до сну або напівсну, який викликає зміни у відчуттях, сприйнятті, мисленні або поведінці людини. Та дозволяє заглибитися у підсвідомість." %}
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 faq-card">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q3">
                {% trans "🔍 Як це працює?" %}
              </button>
            </h2>
            <div id="q3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                {% blocktrans trimmed %}
                Під час входу у гіпноз відключається (або значно полаблюється) критичне мислення нашого мозку і відбувається заглиблення, і зосередження лише на певному стимулі, дії, або концентрація на необхідній інформації, що досягається шляхом глибокої релаксації. 
                {% endblocktrans %}
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 faq-card">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q9">
                {% trans "🔍 Чому це працює?" %}
              </button>
            </h2>
            <div id="q9" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                {% blocktrans trimmed %}
                Наш мозок так влаштований, що він однаково сприймає і проживає події та сценарії, які ми відчуваємо в фізичному житті (проживаємо фактично) і ті, які  програємо ментально (продумуємо й уявляємо в своїй голові). Для нього ці відчуття однакові! Тому, так важливо для нас - проживати будь-який досвід свідомо, продуктивно і якісно, без травм і недопрацювань.
                {% endblocktrans %}
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 faq-card">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q4">
                {% trans "💡 З чим працюють у гіпнозі?" %}
              </button>
            </h2>
            <div id="q4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <ul>
                  <li>{% trans "Страхи, фобії." %}</li>
                  <li>{% trans "Тривога, стрес, депресія." %}</li>
                  <li>{% trans "Невпевненість у собі та низька самооцінка." %}</li>
                  <li>{% trans "Негативні думки, емоції." %}</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 faq-card">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q5">
                {% trans "✅ Чи безпечний гіпноз?" %}
              </button>
            </h2>
            <div id="q5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                {% trans "Так! Під супроводом спеціаліста це повністю безпечно! Особливість психіки людини така, що здатна включати власні захисні механізми. Вона ніколи не видасть того, що наша свідомість не готова сприйняти!" %}
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 faq-card">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q6">
                {% trans "🔄 Міфи і страхи про гіпноз" %}
              </button>
            </h2>
            <div id="q6" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <ul>
                  <li>{% trans "Гіпноз- це НЕ МАГІЯ, а науково обгрунтована техніка!" %}</li>
                  <li>{% trans "Гіпноз- це природній стан у якому ми буваємо щодня, перед сном або в медитації, це про контакт з власним, глибинним я." %}</li>
                  <li>{% trans "НЕМОЖЛИВО, \"застрягнути\" в гіпнозі!" %}</li>
                  <li>{% trans "Гіпноз не робить людину маріонеткою в чужих руках!" %}</li>
                  <li>{% trans "У гіпнозі ви не підкоряєтесь а досліджуєте себе!" %}</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 faq-card">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q7">
                {% trans "📩 Популярні запитання" %}
              </button>
            </h2>
            <div id="q7" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p><strong>
                  {% trans "Що якщо я побачу щось страшне і не витримаю того?" %}
                </strong> — {% trans "Ваша психіка сама не пропустить того, до чого ви ще не готові! (в неї вбудована захисна функція)." %}</p>
                
                <p><strong>
                  {% trans "Що якщо я не вийду з гіпнозу?" %}
                </strong> — {% trans "Це неможливо зовсім! Все відбувається при повній свідомості, при пам'яті і за участю самої людини). Ви повністю контролюєте процес і можете легко вийти звідти самостійно, лише дією свого наміру, відкривши очі." %}</p>
                
                <p><strong>
                  {% trans "Що якщо мене на щось \"запрограмують\"?" %}
                </strong> — {% trans "Ви не втрачаєте свою волю. Все, що ви там робите і говорите - виключно за власною згодою!" %}</p>
              </div>
            </div>
          </div>

          <div class="accordion-item mb-3 faq-card">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#q8">
                {% trans "🚫 Протипоказання" %}
              </button>
            </h2>
            <div id="q8" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <ul>
                  <li>{% trans "Епілепсія в анамнезі." %}</li>
                  <li>{% trans "Серйозні психіатричні розлади: шизофренія, розлади особистості." %}</li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</section>
{% endblock %}