{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container-fluid section-home bg-light-blue home-background pt-2 min-vh-100 d-flex align-items-center">
  <div class="container">
    <!-- Заголовок по центру -->
    <div class="row justify-content-center align-items-center px-lg-5 px-3">
      <div class="col-12 text-center mb-5">
        <h1 class="fw-bold text-primary mb-2 fs-1">Гіпнотерапія та парапсихологія</h1>
        <p class="lead mb-0" style="margin-bottom: 0;">Професійна допомога через гіпноз, регресії та парапсихологічні практики</p>
      </div>
    </div>

    <!-- <div class="row w-100 px-4 justify-content-center"> -->
    <div class="row justify-content-center align-items-center px-lg-5 px-3">
      <!-- колонка з текстом -->
      <div class="col-lg-6 col-md-10 home-description">
        <div>
          <h4 class="fw-semibold">Методи роботи:</h4>
          <ul class="list-unstyled fs-6">
            <li>• Гіпнотерапія</li>
            <li>• Регресійні сеанси</li>
            <li>• Парапсихологія</li>
            <!-- <li>• Психо-астрологічне консультування</li> -->
          </ul>
        </div>
      
        <div class="mb-3">
            <h4 class="fw-semibold">Досвід:</h4>
            <p class="fs-6">3 роки практичного досвіду, 20+ років самостійної роботи над собою</p>
        </div>
        
        <a href="https://t.me/your_username" class="btn btn-custom btn-lg mt-3">Записатися на сесію</a>
        <!-- <a href="{% url 'app_main:services' %}" class="btn btn-outline-primary btn-lg mt-3">Дізнатися більше</a> -->
        <a href="{% url 'app_main:services' %}" class="btn btn-custom btn-lg mt-3">Дізнатися більше</a>
      </div>
    
      <!-- Права колонка з фото -->
      <div class="col-lg-6 col-md-10 text-center">
        <img src="{% static 'images/my-photo-main.jpg' %}" 
          alt="Чаюн Людмила" 
          class="img-fluid rounded shadow-lg photo">
      </div>
    </div>
    
  </div>
</section>
{% endblock %}
