{% extends "base.html" %}

{% block content %}

<!-- Головна сторінка (home.html) -->
<section id="home" class="min-vh-100 d-flex flex-column justify-content-center align-items-center text-center">
  <h1 class="display-5 fw-bold text-primary mb-3">Психо-Астрологія та Гіпнотерапія</h1>
  <p class="lead mb-4">Професійна допомога через гіпноз, регресії, астрологію та парапсихологічні практики</p>
  <img src="/static/images/image.jpg" alt="Фото спеціаліста" class="img-fluid rounded shadow" style="max-width: 300px;">

  <div class="services hero-section" id="services">
    <h2>Мої методи роботи:</h2>
    <ul>
      <li>Гіпнотерапія</li>
      <li>Регресійні сеанси</li>
      <li>Парапсихологія</li>
      <li>Парапсихологічне консультування</li>
    </ul>

    <h2>Досвід в консультуванні: 3 роки</h2>

    <h2>Мої послуги:</h2>
    <ul>
      <li>звичайна сесія: розбір+ пропрацювання (тривалість 1.5год)</li>
      <li>гіпнотична сесія або регресивний сеанс з пропрацюваннями (1.5-2год)</li>
      <li>перша зустріч: знайомство (1.5год)</li>
    </ul>
    Працюю online, за запитом, можливі і очні сесії
  </div>

</section>

{% endblock %}