{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="py-3 section-services">
  <div class="container">

    <h2 class="text-center mb-5 text-primary">Мої послуги</h2>

    <div class="row g-4">
      
      <!-- Послуга 1 -->
      <div class="col-md-4">
        <div class="card h-100 shadow border-0">
          <div class="card-body text-center">
            <div style="font-size: 2.2rem;">🤝</div>
            <h5 class="card-title">Перша зустріч</h5>
            <p class="card-text">Знайомство, обговорення запиту<br><strong>1.5 год</strong></p>
          </div>
        </div>
      </div>

      <!-- Послуга 2 -->
      <div class="col-md-4">
        <div class="card h-100 shadow border-0">
          <div class="card-body text-center">
            <div style="font-size: 2.2rem;">🗨️</div>
            <h5 class="card-title">Звичайна сесія</h5>
            <p class="card-text">Розбір ситуації + пропрацювання<br><strong>1.5 год</strong></p>
          </div>
        </div>
      </div>

      <!-- Послуга 3 -->
      <div class="col-md-4">
        <div class="card h-100 shadow border-0">
          <div class="card-body text-center">
             <div style="font-size: 2.2rem;">🌀</div>
            <h5 class="card-title">Гіпнотична / регресивна сесія</h5>
            <p class="card-text">Глибока трансформація через гіпноз або регресію<br><strong>1.5–2 год</strong></p>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center mt-4">
      <p class="text-muted mb-2 fw-medium">Формат роботи: онлайн. Очні зустрічі — за запитом.</p>
      <!-- <a href="https://t.me/your_username" class="btn btn-outline-primary px-4 py-2">Записатися на сесію</a> -->
      <a href="https://t.me/your_username" class="btn btn-primary btn-lg mt-3 btn-session">Записатися на сесію</a>
    </div>

  </div>
</section>

{% endblock %}